.message-template {
  display: flex;
  vertical-align: middle;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  flex-grow: 2;
  font-size: 40px;
  font-weight: bold;
  color: white;
  z-index: 10012;
  height: 500px;
}

.congrats {

}

.star {
  height: 10vh;
  z-index: 10012;
}

/* 13" screen */
@media only screen and (max-width : 1280px) {
  .message-template {
    height: 350px;
  }
}

/* Large Phones, landscape*/
@media only screen and (max-width : 992px) {
  .message-template {
    height: 210px;
  }
}

/* Small Devices */
@media only screen and (max-width : 667px) {

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
}

/* Custom, iPhone 5 Retina */
@media only screen and (max-width : 320px) {
  .grid-space {
    height: 30px;
    width: 30px;
  }
}
