img {
  height: auto;
  width: auto;
}

.total-grid {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
}

.grid-instructions {
}

.grid {
  display: table;
  margin: 0 auto;
  z-index: 100;
}

.grid-row {
  display: table-row;
}

.grid-opacity {
  opacity: 0.5;
}

.grid-space {
  position: relative;
  display: table-cell;
  height: 100px;
  width: 100px;
  padding: 0;
  background-size: 100% 100%;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
}

.grid-row:nth-child(5n+0) .grid-space {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.grid-space:nth-child(1) {
  border-left: 1px solid rgba(255, 255, 255, 0.2);
}

.grid-space > img {
  position: absolute;
  margin: auto;
  height: 75%;
  width: 75%;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}

.grid-space > .wall {
  border: none;
  left: -30%;
  height: 160px;
  width: 160px;
  z-index: 1011;
}

.grid-space > .drop-point {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80%;
  width: 75%;
}

.active-force-field {
  /*animation: activeglow 3s infinite alternate;*/
  background: rgb(255, 35, 95);
  border: 1px solid rgb(255, 35, 95);
}

.grow {
  position: absolute;
  top: -50%;
  left: -50%;
  height: 200%;
  width: 200%;
}

.glyphicon {
  font-size: 2vw;
}

.speechImage {
  height: 20px;
  width: 20px;
}

.grid-wall {
  opacity: 0.8;
}

@keyframes activeglow{
  to{
    box-shadow:
      0px 0px 5px 5px rgb(255, 35, 95);
  }
}
.inactive-force-field {
  /*animation: inactiveglow 3s infinite alternate;*/
  background: rgb(71, 150, 59);
  border: 1px solid rgb(71, 150, 59);
}
@keyframes inactiveglow{
  to{
    box-shadow:
      0px 0px 5px 5px rgb(71, 150, 59);
  }
}
.hold-button {
  background: rgb(71, 150, 59);
  color: rgb(230, 230, 230);
}
.final-answer {
  animation: Fglow 3s infinite alternate;
  background: rgb(230, 230, 230);
}
@keyframes Fglow{
  to{
    box-shadow: inset 0 0 60px rgb(71, 150, 59);
    color: gold;
  }
}
@keyframes bounce {
  from {
    transform: translateY(200%);
  }
  to {
    transform: translateY(-200px);
  }
}
@-webkit-keyframes bounce {
  from {
    transform: translateY(200%);
  }
  to {
    transform: translateY(-200px);
  }
}
.robot {
  z-index: 1010;
  height: 160% !important;
  width: 180% !important;
  margin: 0 !important;
  top: -42% !important;
  bottom: 0 !important;
  left: -38% !important;
  right: 0 !important;
}

.drop-point {
  top: 0;
}

/* Large Phones, landscape*/
@media only screen and (max-width : 992px) {
  .grid-space {
    height: 35px;
    width: 35px;
  }

  .instructions {
    margin-top: 2px;
    height: 40px;
    margin-left: 140px;
  }

  .instructionsRobot {
    width: 50px;
  }

  .speechBubble {
    margin-bottom: 0;
  }

  .speech {
    font-size: 10px;
    line-height: 10px;
  }

  .returnToProfile {
    width: 40px;
  }
}

/* Small Devices */
@media only screen and (max-width : 667px) {
  .grid-space {
    height: 35px;
    width: 35px;
  }

  .instructions {
    margin-top: 2px;
    height: 40px;
    margin-left: 140px;
  }

  .instructionsRobot {
    width: 50px;
  }

  .speechBubble {
    margin-bottom: 0;
  }

  .speech {
    font-size: 10px;
    line-height: 10px;
  }

  .returnToProfile {
    width: 40px;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
  .instructions {
    margin-top: 60px;
    height: 40px;
    margin-left: 20px;
  }

  .instructionsRobot {
    width: 50px;
  }

  .speech {
    font-size: 10px;
    line-height: 10px;
  }
}

/* Custom, iPhone 5 Retina */
@media only screen and (max-width : 320px) {
  .grid-space {
    height: 30px;
    width: 30px;
  }
}
