#splash-screen {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.space-ship {
  position: absolute;
  transform-origin: 0% 0%;
}

.black-hole {
  width: 200px;

  -webkit-animation: spin1 2s infinite linear;
  -moz-animation: spin1 2s infinite linear;
  -o-animation: spin1 2s infinite linear;
  -ms-animation: spin1 2s infinite linear;
  animation: spin1 2s infinite linear;
  display: block;
}

@-webkit-keyframes spin1 {
  0% { -webkit-transform: rotate(360deg);}
  100% { -webkit-transform: rotate(0deg);}
}
@-moz-keyframes spin1 {
  0% { -webkit-transform: rotate(360deg);}
  100% { -webkit-transform: rotate(0deg);}
}
@-o-keyframes spin1 {
  0% { -webkit-transform: rotate(360deg);}
  100% { -webkit-transform: rotate(0deg);}
}
@-ms-keyframes spin1 {
  0% { -webkit-transform: rotate(360deg);}
  100% { -webkit-transform: rotate(0deg);}
}
@keyframes spin1 {
  0% { -webkit-transform: rotate(360deg);}
  100% { -webkit-transform: rotate(0deg);}
}
