logs
target
.idea
/.idea_modules
/.classpath
/.project
/.settings
/.cache-main
/.cache-tests
/RUNNING_PID

/.vscod

ui/node_modules
ui/npm-debug.log
/public
ui/src/devKeys.js

project/HerokuDeployKeys.scala

ui/dist

/ui/src/keys.js
