.arithmetic {
  display: flex;
  flex-grow: 2;
  justify-content: space-between;
  align-items: center;
}

.space {
  position: relative;
  width: 670px;
  height: 721px;
}

.button-container {
  display: flex;
  vertical-align: middle;
  flex-direction: column;
  flex-grow: 1;
}

.store {
  display: flex;
  justify-content: center;
  margin-top: auto;
  margin-bottom: auto;
  height: 35%;
  font-size: 3vh;
}

.logout {
  display: flex;
  justify-content: center;
  margin-top: auto;
  margin-bottom: auto;
}

.planet {
  position: absolute;
  color: white;
  cursor: pointer;
}

.planet1 {
  height: 383px;
  width: 383px;
  top: 0;
  left: 0;
}

.planet2 {
  height: 284px;
  width: 284px;
  top: -8%;
  left: 55%;
}

.planet3 {
  height: 307px;
  width: 307px;
  top: 25%;
  left: 63%;
}

.planet4 {
  height: 269px;
  width: 269px;
  top: 59%;
  left: 38%;
}

.planet5 {
  height: 220px;
  width: 220px;
  top: 75%;
  left: 5%;
}

.space-ship {
  position: absolute;
  top: 50%;
  left: 0;
  transform: rotate(-20deg);
}

.galaxy {
  height: 10%;
  width: 15%;
  top: 5%;
  left: 5%;
}

.activated {
  -webkit-filter: drop-shadow(0px 0px 15px rgba(255, 255, 255, 1));
}

.level {
  font-size: 30px;
  font-weight: 500;
  line-height: 35px;
  text-align: left;
  margin: 10px 15px 15px;
  max-width: 360px;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  display: none;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  border: 1px solid white;
}

/* iPad */
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait) {
  .space {
    margin-right: 20px;
  }

  .planet1 {
    height: 295px;
    width: 296px;
  }

  .planet2 {
    height: 218px;
    width: 218px;
  }

  .planet3 {
    height: 236px;
    width: 236px;
  }

  .planet4 {
    height: 206px;
    width: 206px;
  }

  .planet5 {
    height: 169px;
    width: 169px;
  }
}
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:landscape) {
  .space {
    width: 495px;
    height: 554px;
    margin-left: 100px;
  }

  .planet1 {
    height: 295px;
    width: 296px;
  }

  .planet2 {
    height: 218px;
    width: 218px;
  }

  .planet3 {
    height: 236px;
    width: 236px;
  }

  .planet4 {
    height: 206px;
    width: 206px;
  }

  .planet5 {
    height: 169px;
    width: 169px;
  }
}


@media only screen and (max-width : 992px) {

}

@media only screen and (max-height: 411px) {

}

/* Small Devices */
@media only screen and (max-width : 736px) {

}

@media only screen and (max-width: 568px) {

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 360px) {

}
