.arithmetic {
  display: flex;
  flex-grow: 2;
  justify-content: space-between;
  align-items: center;
}

.button-container {
  display: flex;
  vertical-align: middle;
  flex-direction: column;
  flex-grow: 1;
}

.logout {
  display: flex;
  justify-content: center;
  margin-top: auto;
  margin-bottom: auto;
}

.activated {
  -webkit-filter: drop-shadow(0px 0px 15px rgba(255, 255, 255, 1));
}

.level {
  font-size: 30px;
  font-weight: 500;
  line-height: 35px;
  text-align: left;
  margin: 10px 15px 15px;
  max-width: 360px;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  display: none;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  border: 1px solid white;
}

@media only screen and (max-width : 992px) {

}

@media only screen and (max-height: 411px) {

}

/* Small Devices */
@media only screen and (max-width : 736px) {

}

@media only screen and (max-width: 568px) {

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 360px) {

}

/* iPad */
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait) {

}

@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:landscape) {

}
