.invisible {
  visibility: hidden;
}

.commands {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 80px;
  position: relative;
}

.commands-slide {
  transition-duration: 300ms;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
}

.commands-slide > * {
  display: flex;
  padding: 0 3px 0 0;
  height: 100%;
  z-index: 100;
  justify-content: flex-start;
}

.command-border-info {
  border: 1px solid rgb(0, 0, 255)!important;
}

.methods {
  border-right: 2px solid #B8E986;
}

.methods > * {
  float: left;
}

.functions {
  flex-wrap: wrap;
  overflow: hidden;
  flex-grow: 1;
}

.functions-show-overflow {
  overflow: visible;
}

.functions > * {
  margin-bottom: 20px!important;
}

.two-x-command-name {
  top: 40px;
  height: 25px;
}

.three-x-command-name {
  top: 46px;
  height: 37px;
}

.four-x-command-name {
  top: 52px;
  height: 49px;
}

.five-x-command-name {
  top: 58px;
  height: 60px;
}

.funcText {
  width: 94%;
  position: absolute;
  top: 1px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.commandText {
  position: absolute;
  top: 1px;
  left: 0;
  right: 0;
  white-space: nowrap;
}

.dragging, .ghost, .chosen {
  height: 70px;
  width: 70px;
  background-size: contain;
  background: no-repeat center;
  float: left;
}

.command-control-button-group {
  height: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-right: 20px;
}

.command-control-button-group:after {
  content:"";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 50%;
  border-left: 2px solid #B8E986;
  transform: translate(-50%);
}

.command-control-button {
  cursor: pointer;
  height: 30px;
  width: 30px;
  right: -21px;
}

.commands-up {
  -webkit-transform: rotate(-90deg);
  transform:rotate(-90deg);
}

.commands-down {
  -webkit-transform: rotate(90deg);
  transform:rotate(90deg);
}

#commands-box {
  margin: 0;
}

#open-staged {
  display: flex;
  align-self: flex-start;
  cursor: pointer;
}

.rotate-to-x {
  -webkit-transform: rotate(45deg);
  transform:rotate(45deg);
}

.rotate-to-plus {
  -webkit-transform: rotate(0);
  transform:rotate(0);
}

/* 13" screen */
@media only screen and (max-width : 1280px) {
  .commands {
    margin-bottom: 5px;
    height: 75px;
  }

  .commands-slide {
    margin: 0 auto;
  }

  .commands-slide > * {
    /*height: 35px;*/
  }

  .methods {
  }

  .command-control-button-group {
    margin-right: 10px;
  }

  .command-control-button {
    height: 20px;
    width: 20px;
  }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
  .commands {
    margin-bottom: 5px;
    /*height: 45px;*/
  }

  .commands-slide {
    margin: 0 auto;
  }

  .commands-slide > * {
    /*height: 35px;*/
  }

  .command-control-button-group {
    margin-right: 10px;
  }

  .command-control-button {
    height: 15px;
    width: 15px;
  }
}

/* Small Devices */
@media only screen and (max-width : 667px) {
  .commands {
    margin-bottom: 5px;
    height: 35px;
  }

  .commands-slide {
    margin: 0 auto;
  }

  .commands-slide > * {
    /*height: 35px;*/
  }

  .methods {
  }

  .command-control-button-group {
    height: 35px;
    margin-right: 10px;
  }

  .command-control-button {
    height: 15px;
    width: 15px;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}

/* iPad */
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait) {
  .instructions {
    height: 100px;
  }

  .instructions-filler-left {
    flex-grow: 1.4;
  }
}

/* iPad */
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait) {

}

@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:landscape) {

}

::-webkit-scrollbar {
  display: none;
}
