.control-panel {
}

.instructions {
  display: flex;
  width: 100%;
}

.instructions-robot-container {
  height: 150px;
  display: flex;
  align-items: flex-end;
  margin-right: 20px;
}

.instructions-robot {
  height: 100%;
  cursor: pointer;
}

.instructions-filler-left {
  width: 100px;
}

.return-to-profile {
  position: fixed;
  left: 0;
  top: 0;
  cursor: pointer;
}

.fade-in-speech {
  opacity: 1;
  transition: all 0.4s ease-out;
}

.fade-out-speech {
  opacity: 0;
  transition: all 0.4s ease-in;
}

@media only screen and (max-width : 1280px) {
  .instructions-filler-left {
    width: 250px;
  }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
  .instructions-robot-container {
    height: 75px;
  }

  .return-to-profile {
    height: 65px;
  }

  .instructions-filler-left {
    width: 95px;
  }
}

/* Small Devices */
@media only screen and (max-width : 667px) {
  .instructions-robot-container {
    height: 50px;
  }

  .instructions-filler-left {
    width: 140px;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
  .return-to-profile {
    height: 60px;
  }

  .instructions-robot-container {
    height: 50px;
  }

  .instructions-filler-left {
    width: 40px;
  }
}

/* Custom, iPhone 5 Retina */
@media only screen and (max-width : 320px) {

}

/* iPad */
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait) {
  .instructions-robot-container {
    height: 150px;
  }

  .return-to-profile {
    height: 100px;
  }

  .instructions-filler-left {
    width: 75px;
  }
}

@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:landscape) {
  .return-to-profile {
    height: 150px;
  }

  .instructions-filler-left {
    width: 180px;
  }
}
