#function-box {
  display: inline-block;
}

.function-box-button {
  height: 70px;
  width: 70px;
  position: relative;
  background: black no-repeat center;
  overflow: visible;
  outline-offset: -2px;
  border: 1px solid #FFFFFF;
  border-radius: 3px;
  margin: 0 6px;
  background-size: 75%;
  flex: 0 0 auto;
  flex-shrink: 0;
  cursor: pointer;
}

.command-name {
  margin: 92% 2px auto 2px;
  color: #000000;
  font-size: 12px;
  font-weight: 500;
  text-align: center;
  word-wrap: break-word;
  white-space: normal;
  line-height: 12px;
  border-radius: 3px;
  background-color: #FFFFFF;
}

.function-image {
  width: 60%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  left: 5%;
}

.editMain-box-button {
  width: 80px;
  background: no-repeat right;
  background-size: 100%;
  border: none;
  outline: none 0 !important;
  z-index: 1000;
  overflow: hidden;
  padding: 0;
  font-size: 12px;
  line-height: 12px;
  white-space: normal !important;
  word-wrap: break-word;
  color: black;
  margin: 0 0 0 -11px;
}

.editMain-box-button:first-child {
  background: no-repeat right;
  margin-left: 0;
  width: 85px;
}

/* 13" screen */
@media only screen and (max-width : 1280px) {
  .function-box-button {
    height: 60px;
    width: 60px;
    margin: 0 5px;
  }

  .editMain-box-button {
    height: 65px;
    width: 65px;
    margin: 0 0 0 -8px;
  }

  .editMain-box-button:first-child {
    height: 57px;
    width: 65px;
  }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
  .function-box-button {
    height: 40px;
    width: 40px;
    margin: 0 1px;
  }

  .editMain-box-button {
    width: 44px;
    margin: 0 0 0 -8px;
  }

  .editMain-box-button:first-child {
    height: 38px;
    width: 40px;
  }

  .command-name {
    display: none;
  }
}

/* Small Devices */
@media only screen and (max-width : 667px) {
  .function-box-button {
    height: 30px;
    width: 30px;
    margin: 0 1px;
  }

  .editMain-box-button {
    width: 33px;
    margin: 0 0 0 -8px;
  }

  .editMain-box-button:first-child {
    margin-top: 1px;
    height: 29px;
    width: 33px;
  }

  .command-name {
    display: none;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}

/* iPad */
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait) {
  .function-box-button {
    height: 70px;
    width: 70px;
    margin: 0 1px;
  }

  .editMain-box-button {
    width: 80px;
    margin: 0 0 0 -8px;
  }

  .editMain-box-button:first-child {
    height: 80px;
    width: 85px;
  }

  .command-name {
    display: none;
  }
}

@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:landscape) {

}
