img {
  height: auto;
  width: auto;
}

.total-grid {
  width: 100%;
  height: 100%;
}

.grid {
  display: table;
  margin: 0 auto;
  z-index: 100;
}

.grid-row {
  display: table-row;
}

.grid-space {
  position: relative;
  display: table-cell;
  height: 100px;
  width: 100px;
  padding: 0;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  text-align: center;
  vertical-align: middle;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.5);
}

.grid-space-empty-space {
  background: rgba(0, 0, 0, 0.7);
}

.grid-row:nth-child(5n+0) .grid-space {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.grid-space:nth-child(1) {
  border-left: 1px solid rgba(255, 255, 255, 0.2);
}

.problem {
  z-index: 120;
  font-size: 22px;
}

.grid-space > img {
  position: absolute;
  margin: auto;
  height: 75%;
  width: 75%;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 100;
}

.robot {
  z-index: 1010;
  height: 160% !important;
  width: 180% !important;
  margin: 0 !important;
  top: -42% !important;
  bottom: 0 !important;
  left: -38% !important;
  right: 0 !important;
}

@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:landscape) {

}

/* 13" screen */
@media only screen and (max-width : 1280px) {
  .grid-space {
    height: 70px;
    width: 70px;
  }
}

/* Large Phones, landscape*/
@media only screen and (max-width : 992px) {
  .grid-space {
    height: 35px;
    width: 35px;
  }
}

/* Small Devices */
@media only screen and (max-width : 667px) {
  .grid-space {
    height: 30px;
    width: 30px;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
}

/* Custom, iPhone 5 Retina */
@media only screen and (max-width : 320px) {

}

/* iPad */
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait) {
  .grid-space {
    height: 70px;
    width: 70px;
  }
}
