.main-placeholder {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

#placeholder-container {
  display: flex;
  position: relative;
  left: 0.35em;
  border-radius: 2px;
}

.placeholder-short-background {
  background-color: rgba(184, 233, 134, 0.3);
}

.placeholder-info-border {
  border: 1px solid rgb(0, 0, 255);
}

.placeholder-full-background {
  background-color: rgba(184, 233, 134, 0.9);
}

.placeholder {
  height: 78px;
  width: 72px;
}

.single-placeholder {
  width: 78px;
}

/* 13" screen */
@media only screen and (max-width : 1280px) {

}

/* Large Phones, landscape*/
@media only screen and (max-width : 992px) {
  #placeholder-container {
    left: 0.05em;
  }

  .placeholder {
    height: 44px;
    width: 41px;
  }

  .single-placeholder {
    width: 44px;
  }
}

/* Small Devices */
@media only screen and (max-width : 667px) {
  #placeholder-container {
    left: 0.15em;
  }

  .placeholder {
    height: 34px;
    width: 29px;
  }

  .single-placeholder {
    width: 34px;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
}

/* Custom, iPhone 5 Retina */
@media only screen and (max-width : 320px) {

}

/* iPad */
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait) {
  .placeholder {
    height: 78px;
    width: 72px;
  }
}

@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:landscape) {

}
