.robot-container {
  height: 100%;
  width: 100%;
  background-image: url("https://res.cloudinary.com/deqjemwcu/image/upload/v1522346735/misc/Space_background.jpg");
  background-size: cover;
}

#robot {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 1200px;
  overflow: visible;
  margin: 0 auto;
  padding: 1vh 20px 0 20px;
  display: flex;
  flex-direction: column;
}

#control-panel-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border: 1px solid salmon;
}

#grid-box {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  border: 1px solid yellowgreen;
}

#edit-main-box {
  display: flex;
  border: 1px solid mediumvioletred;
}

#commands-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid firebrick;
}

.filler-box {
  display: flex;
  flex-grow: 1;
}

.grow {
  height: 40%;
  -webkit-transition: height 1s; /* For Safari 3.1 to 6.0 */
  transition: height 1s;
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
  #robot {
    width: 100vw;
  }
}

/* Small Devices */
@media only screen and (max-width : 667px) {
  #control-panel-box {
  }

  #grid-box {
    justify-content: flex-start;
  }

  #edit-main-box {
  }

  #robot {
    width: 100vw;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}

/* iPad */
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait) {

}
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:landscape) {

}
