.speech-bubble {
  position: relative;
  height: 116px;
  width: 594px;
  opacity: 0.62;
  border: 1px solid #FFFF;
  background-color: #E8E8E8;
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
  border-radius: 5px;
  z-index: 100;
  visibility: visible;
  transition: opacity 1s linear;
}

.hide-speech-bubble {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 1s, opacity 1s linear;
}

@keyframes fade {
  0%,100% { opacity: 0 }
  50% { opacity: 1 }
}

.speech-bubble:before, .speech-bubble:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 0;
}

.speech-bubble:before {
  border-top: 40px solid #FFFF;

  transform: rotate(50deg);

  border-left: 10px solid transparent;
  border-right: 10px solid transparent;

  margin-left: -20px;
  margin-bottom: -27px;
}

.speech-bubble:after {
  border-top: 40px solid #E8E8E8;

  border-left: 9px solid transparent;
  border-right: 9px solid transparent;

  transform: rotate(50deg);

  margin-left: -18px;
  margin-bottom: -26px;
}

/* 13" screen */
@media only screen and (max-width : 1280px) {
  .speech-bubble {
    height: 70px;
    width: 400px;
    margin-left: -2px;
  }
}


/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
  .speech-bubble {
    height: 45px;
    width: 200px;
    margin-left: -2px;
  }

  .speech-bubble:before {
    border-top: 20px solid #FFFF;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;

    transform: rotate(70deg);

    margin-left: -13px;
    margin-bottom: 0;
  }

  .speech-bubble:after {
    border-top: 20px solid #E8E8E8;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;

    transform: rotate(70deg);

    margin-left: -11px;
    margin-bottom: 1px;
  }
}

/* Small Devices */
@media only screen and (max-width : 667px) {
  .speech-bubble {
    height: 45px;
    width: 200px;
    margin-left: -2px;
  }

  .speech-bubble:before {
    border-top: 20px solid #FFFF;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;

    transform: rotate(70deg);

    margin-left: -13px;
    margin-bottom: 0;
  }

  .speech-bubble:after {
    border-top: 20px solid #E8E8E8;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;

    transform: rotate(70deg);

    margin-left: -11px;
    margin-bottom: 1px;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
  .speech-bubble {
    height: 50px;
    width: 200px;
    margin-top: -15px;
    margin-left: -10px;
  }

  .speech-bubble:before {
    border-top: 20px solid #FFFF;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;

    transform: rotate(50deg);

    margin-left: -10px;
    margin-bottom: -14px;
  }

  .speech-bubble:after {
    border-top: 20px solid #E8E8E8;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;

    transform: rotate(50deg);

    margin-left: -9px;
    margin-bottom: -13px;
  }
}

/* Custom, iPhone 5 Retina */
@media only screen and (max-width : 320px) {

}

/* iPad */
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait) {
  .speech-bubble {
    height: 70px;
    width: 400px;
    margin-left: -2px;
  }

  .speech-bubble:before, .speech-bubble:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 0;
  }

  .speech-bubble:before {
    border-top: 40px solid #FFFF;

    transform: rotate(50deg);

    border-left: 10px solid transparent;
    border-right: 10px solid transparent;

    margin-left: -20px;
    margin-bottom: -27px;
  }

  .speech-bubble:after {
    border-top: 40px solid #E8E8E8;

    border-left: 9px solid transparent;
    border-right: 9px solid transparent;

    transform: rotate(50deg);

    margin-left: -18px;
    margin-bottom: -26px;
  }

}
